Repository jonathan-vella/azure-smb-rf: changes, and which lefthook commands are due for each by the changed paths.
All: markdown-lint, link-check, artifact-validation

lefthook.yml:

# lefthook.yml - Git hooks configuration
# Replaces Husky with a faster, dependency-free alternative
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: false
  commands:
    markdown-lint:
      glob: "*.md"
      run: |
        # Get staged markdown files
        STAGED_MD=$(git diff --cached --name-only --diff-filter=ACM | grep '\.md$' || true)
        if [ -n "$STAGED_MD" ]; then
          echo "üìù Validating $(echo "$STAGED_MD" | wc -l | tr -d ' ') markdown file(s)..."
          # Use --no-globs to lint ONLY staged files, not all files matching glob pattern
          echo "$STAGED_MD" | xargs markdownlint-cli2 --no-globs
        else
          echo "‚ÑπÔ∏è  No markdown files to validate"
        fi
      stage_fixed: true

    link-check:
      glob: "docs/**/*.md"
      run: |
        # Get staged docs markdown files, excluding _superseded
        STAGED_DOCS=$(git diff --cached --name-only --diff-filter=ACM | grep '^docs/.*\.md$' | grep -v '_superseded' || true)
        if [ -n "$STAGED_DOCS" ]; then
          echo "üîó Checking links in $(echo "$STAGED_DOCS" | wc -l | tr -d ' ') doc file(s)..."
          # Use npx to run from local node_modules (avoids Node.js 24 global install bug)
          echo "$STAGED_DOCS" | xargs -I {} npx markdown-link-check {} --config .markdown-link-check.json --quiet
        else
          echo "‚ÑπÔ∏è  No docs to check links"
        fi

    artifact-validation:
      glob: "agent-output/**/*.md"
      run: |
        # Check if any core artifacts are staged
        STAGED_CORE=$(git diff --cached --name-only --diff-filter=ACM | grep -E '(01-requirements|02-architecture-assessment|04-implementation-plan|04-governance-constraints|06-deployment-summary)\.md$' || true)
        if [ -n "$STAGED_CORE" ]; then
          echo "üìã Validating core artifact structure..."
          npm run lint:artifact-templates
        else
          echo "‚ÑπÔ∏è  No core artifacts to validate"
        fi

commit-msg:
  commands:
    commitlint:
      run: npx --no -- commitlint --edit {1}
      fail_text: |
        ‚ùå Commit message validation failed!

        üìñ Conventional Commits format required:
           <type>[optional scope]: <description>

           Types: feat, fix, docs, style, refactor, perf, test, build, ci, chore, revert

           Examples:
             feat: add new Azure App Service module
             fix(bicep): correct storage account naming
             docs: update README with deployment steps

chore: initialize azure-smb-landing-zone spin-off
  .devcontainer/devcontainer.json
  .github/ISSUE_TEMPLATE/config.yml
  .github/copilot-instructions.md
  .github/prompts/plan-smb-landing-zone.prompt.md
  .github/templates/01-requirements-infrastructure.template.md
  .github/workflows/sync-from-upstream.yml
  .markdownlint-cli2.jsonc
  README.md
  TEMPLATE-README.md
  agent-output/smb-landing-zone/README.md
  mcp/azure-pricing-mcp/README.md
  package-lock.json
  package.json
  scripts/update-version.ps1
Due: markdown-lint, artifact-validation

feat(smb-landing-zone): Add requirements, WAF assessment, and cost estimate
  .github/prompts/plan-req-demo-interactive.prompt.md
  .github/prompts/plan-req-demo.prompt.md
  .github/prompts/plan-requirements.prompt.md
  .github/prompts/plan-smb-landing-zone.prompt.md
  Copilot-Processing.md
  agent-output/smb-landing-zone/01-requirements.md
  agent-output/smb-landing-zone/02-architecture-assessment.md
  agent-output/smb-landing-zone/03-des-cost-estimate.md
Due: markdown-lint, artifact-validation

fix: Update agent mappings in validation script and add policy cleanup script
  agent-output/smb-landing-zone/01-requirements.md
  scripts/Remove-SmbLandingZonePolicies.ps1
  scripts/validate-artifact-templates.mjs
Due: markdown-lint, artifact-validation

feat: add artifact versioning (v0.1) and update project to 0.1.0
  .github/agents/_shared/defaults.md
  .github/agents/bicep-plan.agent.md
  .github/templates/01-requirements.template.md
  .github/templates/02-architecture-assessment.template.md
  .github/templates/03-des-cost-estimate.template.md
  .github/templates/04-governance-constraints.template.md
  .github/templates/04-implementation-plan.template.md
  .github/templates/05-implementation-reference.template.md
  .github/templates/06-deployment-summary.template.md
  .github/templates/07-ab-cost-estimate.template.md
  .github/templates/07-backup-dr-plan.template.md
  .github/templates/07-compliance-matrix.template.md
  .github/templates/07-design-document.template.md
  .github/templates/07-documentation-index.template.md
  .github/templates/07-operations-runbook.template.md
  .github/templates/07-resource-inventory.template.md
  Copilot-Processing.md
  agent-output/smb-landing-zone/01-requirements.md
  agent-output/smb-landing-zone/02-architecture-assessment.md
  agent-output/smb-landing-zone/03-des-adr-0001-cost-optimized-landing-zone-architecture.md
  agent-output/smb-landing-zone/03-des-cost-estimate.md
  agent-output/smb-landing-zone/03-des-diagram.png
  agent-output/smb-landing-zone/03-des-diagram.py
  agent-output/smb-landing-zone/04-governance-constraints.md
  agent-output/smb-landing-zone/04-implementation-plan.md
  agent-output/smb-landing-zone/README.md
  package.json
  scripts/validate-artifact-templates.mjs
Due: markdown-lint, artifact-validation

feat(bicep): implement SMB landing zone infrastructure
  Copilot-Processing.md
  agent-output/smb-landing-zone/03-des-diagram.png
  agent-output/smb-landing-zone/03-des-diagram.py
  agent-output/smb-landing-zone/04-implementation-plan.md
  agent-output/smb-landing-zone/05-implementation-reference.md
  agent-output/smb-landing-zone/07-ab-adr-0002-bicep-infrastructure-implementation.md
  infra/bicep/smb-landing-zone/deploy.ps1
  infra/bicep/smb-landing-zone/main.bicep
  infra/bicep/smb-landing-zone/main.bicepparam
  infra/bicep/smb-landing-zone/main.json
  infra/bicep/smb-landing-zone/modules/backup.bicep
  infra/bicep/smb-landing-zone/modules/budget.bicep
  infra/bicep/smb-landing-zone/modules/firewall.bicep
  infra/bicep/smb-landing-zone/modules/migrate.bicep
  infra/bicep/smb-landing-zone/modules/monitoring.bicep
  infra/bicep/smb-landing-zone/modules/networking-hub.bicep
  infra/bicep/smb-landing-zone/modules/networking-peering-spoke.bicep
  infra/bicep/smb-landing-zone/modules/networking-peering.bicep
  infra/bicep/smb-landing-zone/modules/networking-spoke.bicep
  infra/bicep/smb-landing-zone/modules/policy-assignments.bicep
  infra/bicep/smb-landing-zone/modules/resource-groups.bicep
  infra/bicep/smb-landing-zone/modules/vpn-gateway.bicep
  infra/bicep/smb-landing-zone/scripts/Remove-SmbLandingZonePolicies.ps1
  package-lock.json
Due: markdown-lint, artifact-validation

chore: remove obsolete markdownlint exclusions
  .markdownlint-cli2.jsonc
Due: none

feat(smb-lz): deploy infrastructure with fixes for policies and Log Analytics
  .devcontainer/post-create.sh
  Copilot-Processing.md
  infra/bicep/smb-landing-zone/deploy.ps1
  infra/bicep/smb-landing-zone/main.bicep
  infra/bicep/smb-landing-zone/main.bicepparam
  infra/bicep/smb-landing-zone/main.json
  infra/bicep/smb-landing-zone/modules/backup.bicep
  infra/bicep/smb-landing-zone/modules/monitoring.bicep
  infra/bicep/smb-landing-zone/modules/networking-hub.bicep
  infra/bicep/smb-landing-zone/modules/networking-spoke.bicep
  infra/bicep/smb-landing-zone/modules/policy-assignments.bicep
Due: markdown-lint

feat(vpn): standardize on VpnGw1AZ SKU, add firewall test lab
  .husky/commit-msg
  .husky/pre-commit
  Copilot-Processing.md
  agent-output/firewall/README.md
  agent-output/smb-landing-zone/01-requirements.md
  agent-output/smb-landing-zone/02-architecture-assessment.md
  agent-output/smb-landing-zone/03-des-adr-0001-cost-optimized-landing-zone-architecture.md
  agent-output/smb-landing-zone/03-des-cost-estimate.md
  agent-output/smb-landing-zone/03-des-diagram.py
  agent-output/smb-landing-zone/04-implementation-plan.md
  agent-output/smb-landing-zone/05-implementation-reference.md
  infra/bicep/firewall-test/deploy.ps1
  infra/bicep/firewall-test/firewall-policy.bicep
  infra/bicep/firewall-test/firewall.bicep
  infra/bicep/firewall-test/main.bicep
  infra/bicep/firewall-test/main.json
  infra/bicep/firewall-test/vnet.bicep
  infra/bicep/firewall-test/vpn-gateway.bicep
  infra/bicep/smb-landing-zone/deploy.ps1
  infra/bicep/smb-landing-zone/main.bicep
  infra/bicep/smb-landing-zone/main.bicepparam
  infra/bicep/smb-landing-zone/main.json
  infra/bicep/smb-landing-zone/modules/firewall.bicep
  infra/bicep/smb-landing-zone/modules/networking-hub.bicep
  infra/bicep/smb-landing-zone/modules/networking-spoke.bicep
  infra/bicep/smb-landing-zone/modules/route-tables.bicep
Due: markdown-lint, artifact-validation

fix(vpn): Update firewall-test to use VpnGw1AZ with zone-redundant public IP
  infra/bicep/firewall-test/main.bicep
  infra/bicep/firewall-test/main.json
  infra/bicep/firewall-test/vpn-gateway.bicep
Due: none

refactor(firewall): Simplify firewall policy to essential rules only
  infra/bicep/firewall-test/firewall-policy.bicep
  infra/bicep/firewall-test/main.json
  infra/bicep/smb-landing-zone/main.json
  infra/bicep/smb-landing-zone/modules/firewall.bicep
Due: none

docs: Add testing plan for Phase 2 validation
  Copilot-Processing.md
Due: markdown-lint

fix: remove ApplicationRuleCollectionGroup and fix VNet peering dependsOn
  .devcontainer/devcontainer.json
  Copilot-Processing.md
  infra/bicep/smb-landing-zone/main.bicep
  infra/bicep/smb-landing-zone/main.json
  infra/bicep/smb-landing-zone/modules/firewall.bicep
Due: markdown-lint

docs: Add deployment summary and update test results
  Copilot-Processing.md
  agent-output/smb-landing-zone/06-deployment-summary.md
Due: markdown-lint, artifact-validation

feat: Add scenario-based deployment and consolidate peering modules
  Copilot-Processing.md
  agent-output/smb-landing-zone/04-scenario-implementation-plans.md
  agent-output/smb-landing-zone/06-deployment-summary.md
  infra/bicep/smb-landing-zone/deploy.ps1
  infra/bicep/smb-landing-zone/main.bicep
  infra/bicep/smb-landing-zone/main.bicepparam
  infra/bicep/smb-landing-zone/main.json
  infra/bicep/smb-landing-zone/modules/networking-peering-spoke.bicep
  infra/bicep/smb-landing-zone/modules/networking-peering.bicep
Due: markdown-lint, artifact-validation

docs: update deployment syntax to scenario-based pattern
  .github/templates/05-implementation-reference.template.md
  .github/templates/06-deployment-summary.template.md
  Copilot-Processing.md
  README.md
  agent-output/smb-landing-zone/01-requirements.md
  agent-output/smb-landing-zone/02-architecture-assessment.md
  agent-output/smb-landing-zone/03-des-adr-0001-cost-optimized-landing-zone-architecture.md
  agent-output/smb-landing-zone/03-des-cost-estimate.md
  agent-output/smb-landing-zone/03-des-diagram-baseline.png
  agent-output/smb-landing-zone/03-des-diagram-baseline.py
  agent-output/smb-landing-zone/03-des-diagram-enterprise.png
  agent-output/smb-landing-zone/03-des-diagram-enterprise.py
  agent-output/smb-landing-zone/03-des-diagram-firewall.png
  agent-output/smb-landing-zone/03-des-diagram-firewall.py
  agent-output/smb-landing-zone/03-des-diagram-vpn.png
  agent-output/smb-landing-zone/03-des-diagram-vpn.py
  agent-output/smb-landing-zone/04-implementation-plan.md
  agent-output/smb-landing-zone/04-scenario-implementation-plans.md
  agent-output/smb-landing-zone/05-implementation-reference.md
  agent-output/smb-landing-zone/06-deployment-summary.md
  agent-output/smb-landing-zone/07-ab-adr-0002-bicep-infrastructure-implementation.md
Due: markdown-lint, artifact-validation

refactor: rename 'enterprise' scenario to 'full' for SMB focus
  Copilot-Processing.md
  README.md
  agent-output/smb-landing-zone/01-requirements.md
  agent-output/smb-landing-zone/02-architecture-assessment.md
  agent-output/smb-landing-zone/03-des-adr-0001-cost-optimized-landing-zone-architecture.md
  agent-output/smb-landing-zone/03-des-cost-estimate.md
  agent-output/smb-landing-zone/03-des-diagram-enterprise.png
  agent-output/smb-landing-zone/03-des-diagram-full.png
  agent-output/smb-landing-zone/03-des-diagram-full.py
  agent-output/smb-landing-zone/03-des-diagram.py
  agent-output/smb-landing-zone/04-implementation-plan.md
  agent-output/smb-landing-zone/04-scenario-implementation-plans.md
  agent-output/smb-landing-zone/05-implementation-reference.md
  agent-output/smb-landing-zone/06-deployment-summary.md
  agent-output/smb-landing-zone/07-ab-adr-0002-bicep-infrastructure-implementation.md
  infra/bicep/smb-landing-zone/deploy.ps1
  infra/bicep/smb-landing-zone/main.bicep
  infra/bicep/smb-landing-zone/main.bicepparam
  infra/bicep/smb-landing-zone/main.json
Due: markdown-lint, artifact-validation

chore: add validate-all.ps1 and fix remaining enterprise refs
  Copilot-Processing.md
  README.md
  agent-output/smb-landing-zone/01-requirements.md
  agent-output/smb-landing-zone/02-architecture-assessment.md
  agent-output/smb-landing-zone/03-des-adr-0001-cost-optimized-landing-zone-architecture.md
  agent-output/smb-landing-zone/03-des-diagram.png
  agent-output/smb-landing-zone/04-implementation-plan.md
  agent-output/smb-landing-zone/04-scenario-implementation-plans.md
  agent-output/smb-landing-zone/05-implementation-reference.md
  infra/bicep/smb-landing-zone/modules/backup.json
  infra/bicep/smb-landing-zone/modules/budget.json
  infra/bicep/smb-landing-zone/modules/firewall.json
  infra/bicep/smb-landing-zone/modules/migrate.json
  infra/bicep/smb-landing-zone/modules/monitoring.json
  infra/bicep/smb-landing-zone/modules/networking-hub.json
  infra/bicep/smb-landing-zone/modules/networking-peering-spoke.json
  infra/bicep/smb-landing-zone/modules/networking-peering.json
  infra/bicep/smb-landing-zone/modules/networking-spoke.json
  infra/bicep/smb-landing-zone/modules/policy-assignments.json
  infra/bicep/smb-landing-zone/modules/resource-groups.json
  infra/bicep/smb-landing-zone/modules/route-tables.json
  infra/bicep/smb-landing-zone/modules/vpn-gateway.json
  scripts/validate-all.ps1
  scripts/validate-cost-estimate-templates.mjs
Due: markdown-lint, artifact-validation

refactor: reduce deploy.ps1 verbosity
  Copilot-Processing.md
  README.md
  agent-output/firewall/README.md
  agent-output/smb-landing-zone/01-requirements.md
  infra/bicep/firewall-test/deploy.ps1
  infra/bicep/firewall-test/firewall-policy.bicep
  infra/bicep/firewall-test/firewall.bicep
  infra/bicep/firewall-test/main.bicep
  infra/bicep/firewall-test/main.json
  infra/bicep/firewall-test/vnet.bicep
  infra/bicep/firewall-test/vpn-gateway.bicep
  infra/bicep/smb-landing-zone/deploy.ps1
  scripts/validate-cost-estimate-templates.mjs
Due: markdown-lint, artifact-validation

docs: Update processing log - 3/4 scenarios complete, resume tomorrow
  Copilot-Processing.md
Due: markdown-lint

fix: rewrite Azure Firewall module using AVM with sequential PIP creation
  infra/bicep/smb-landing-zone/main.bicep
  infra/bicep/smb-landing-zone/main.json
  infra/bicep/smb-landing-zone/modules/firewall.bicep
  infra/bicep/smb-landing-zone/modules/firewall.json
Due: none

docs: Add ADR for AVM firewall migration and update implementation reference
  .github/instructions/bicep-code-best-practices.instructions.md
  agent-output/smb-landing-zone/05-implementation-reference.md
  agent-output/smb-landing-zone/07-ab-adr-0003-avm-firewall-migration.md
Due: markdown-lint, artifact-validation

docs: Redesign README with visual enhancements
  README.md
  docs/images/architecture.png
Due: markdown-lint

feat: add VM backup auto-enrollment via Azure Policy
  .github/agents/_shared/defaults.md
  .github/agents/bicep-code.agent.md
  .github/agents/bicep-plan.agent.md
  .github/copilot-instructions.md
  .github/instructions/bicep-code-best-practices.instructions.md
  .github/prompts/plan-smb-landing-zone.prompt.md
  .github/templates/01-requirements-infrastructure.template.md
  Copilot-Processing.md
  README.md
  agent-output/azure-local-ha/03-des-diagram.png
  agent-output/azure-local-ha/03-des-diagram.py
  agent-output/smb-landing-zone/04-implementation-plan.md
  agent-output/smb-landing-zone/05-implementation-reference.md
  agent-output/smb-landing-zone/06-deployment-summary.md
  agent-output/smb-landing-zone/07-ab-adr-0003-avm-firewall-migration.md
  docs/demo.tape
  infra/bicep/smb-landing-zone/main.bicep
  infra/bicep/smb-landing-zone/main.json
  infra/bicep/smb-landing-zone/modules/backup.bicep
  infra/bicep/smb-landing-zone/modules/policy-assignments.bicep
  infra/bicep/smb-landing-zone/modules/policy-backup-auto.bicep
  package.json
Due: markdown-lint, artifact-validation

docs: update agent-output files for backup automation and VMware neutralization
  Copilot-Processing.md
  agent-output/smb-landing-zone/01-requirements.md
  agent-output/smb-landing-zone/02-architecture-assessment.md
  agent-output/smb-landing-zone/03-des-adr-0001-cost-optimized-landing-zone-architecture.md
  agent-output/smb-landing-zone/04-implementation-plan.md
  agent-output/smb-landing-zone/05-implementation-reference.md
Due: markdown-lint, artifact-validation

fix: resolve agent and instruction file diagnostics errors
  .github/agents/bicep-code.agent.md
  .github/agents/bicep-plan.agent.md
  .github/copilot-instructions.md
  Copilot-Processing.md
  agent-output/smb-landing-zone/01-requirements.md
  agent-output/smb-landing-zone/04-implementation-plan.md
Due: markdown-lint, artifact-validation

fix: Correct agent file paths and remove unknown tools
  .github/agents/bicep-code.agent.md
  .github/agents/bicep-plan.agent.md
  .github/agents/deploy.agent.md
  .github/agents/diagnose.agent.md
  .github/agents/requirements.agent.md
  .github/copilot-instructions.md
  Copilot-Processing.md
Due: markdown-lint

feat: Implement mandatory AVM-first guardrails across all agents
  .github/agents/_shared/defaults.md
  .github/agents/architect.agent.md
  .github/agents/bicep-code.agent.md
  .github/agents/bicep-plan.agent.md
  .github/copilot-instructions.md
  .github/instructions/bicep-code-best-practices.instructions.md
  Copilot-Processing.md
Due: markdown-lint

docs(smb-lz): add AVM module specifications to requirements and implementation plan
  .github/agents/_shared/defaults.md
  .github/copilot-instructions.md
  Copilot-Processing.md
  agent-output/smb-landing-zone/01-requirements.md
  agent-output/smb-landing-zone/04-implementation-plan.md
  agent-output/smb-landing-zone/ISSUE-avm-migration.md
Due: markdown-lint, artifact-validation

chore: remove local issue file (now tracked as GitHub issue #1)
  Copilot-Processing.md
  agent-output/smb-landing-zone/01-requirements.md
  agent-output/smb-landing-zone/04-implementation-plan.md
  agent-output/smb-landing-zone/ISSUE-avm-migration.md
Due: markdown-lint, artifact-validation

feat(avm): migrate monitoring, backup, route-tables, firewall to AVM
  infra/bicep/smb-landing-zone/modules/backup.bicep
  infra/bicep/smb-landing-zone/modules/firewall.bicep
  infra/bicep/smb-landing-zone/modules/monitoring.bicep
  infra/bicep/smb-landing-zone/modules/route-tables.bicep
Due: none

docs(peering): Document AVM exception status for peering modules
  infra/bicep/smb-landing-zone/modules/networking-peering-spoke.bicep
  infra/bicep/smb-landing-zone/modules/networking-peering.bicep
Due: none

fix(monitoring): Convert dailyQuotaGb to string for AVM compatibility
  infra/bicep/smb-landing-zone/modules/monitoring.bicep
Due: none

docs(artifacts): Update implementation reference with full AVM status
  agent-output/smb-landing-zone/05-implementation-reference.md
Due: markdown-lint, artifact-validation

chore(release): Bump version to 0.2.0
  package.json
Due: none

docs: Add CHANGELOG.md with Keep a Changelog format
  CHANGELOG.md
Due: markdown-lint

chore: validate all 4 deployment scenarios with what-if
  Copilot-Processing.md
  agent-output/smb-landing-zone/04-implementation-plan.md
  agent-output/smb-landing-zone/05-implementation-reference.md
  infra/bicep/smb-landing-zone/main.bicep
  infra/bicep/smb-landing-zone/main.json
  infra/bicep/smb-landing-zone/modules/networking-hub.bicep
  infra/bicep/smb-landing-zone/modules/networking-spoke.bicep
  infra/bicep/smb-landing-zone/modules/vpn-gateway.bicep
  package-lock.json
Due: markdown-lint, artifact-validation

fix: Resolve 9 Bicep BCP318/BCP321 warnings with safe access operators
  Copilot-Processing.md
  infra/bicep/smb-landing-zone/main.json
  infra/bicep/smb-landing-zone/modules/networking-spoke.bicep
  infra/bicep/smb-landing-zone/modules/route-tables.bicep
  infra/bicep/smb-landing-zone/modules/vpn-gateway.bicep
Due: markdown-lint

fix: Resolve monitoring.bicep dailyQuotaGb float-to-string error
  Copilot-Processing.md
  infra/bicep/smb-landing-zone/main.json
  infra/bicep/smb-landing-zone/modules/monitoring.bicep
Due: markdown-lint

chore: Update tracking - baseline & firewall deployed, resources deleted
  Copilot-Processing.md
Due: markdown-lint

fix(deployment): serialize Firewall/VPN deployment to avoid race condition
  CHANGELOG.md
  Copilot-Processing.md
  agent-output/smb-landing-zone/07-ab-adr-0004-firewall-vpn-deployment-ordering.md
  infra/bicep/smb-landing-zone/deploy.ps1
  infra/bicep/smb-landing-zone/main.bicep
  infra/bicep/smb-landing-zone/main.json
  infra/bicep/smb-landing-zone/modules/budget.bicep
  scripts/Remove-SmbLandingZone.ps1
Due: markdown-lint, artifact-validation
