Repository jonathan-vella/azure-smb-rf: changes, and which lefthook commands are due for each by the changed paths.
All: markdown-lint, link-check, artifact-validation

markdown-lint:
  run: "# Get staged markdown files\nSTAGED_MD=$(git diff --cached --name-only --diff-filter=ACM | grep '\\.md$' || true)\nif [ -n \"$STAGED_MD\" ]; then\n  echo \"üìù Validating $(echo \"$STAGED_MD\" | wc -l | tr -d ' ') markdown file(s)...\"\n  # Use --no-globs to lint ONLY staged files, not all fi
  ...

link-check:
  run: "# Get staged docs markdown files, excluding _superseded\nSTAGED_DOCS=$(git diff --cached --name-only --diff-filter=ACM | grep '^docs/.*\\.md$' | grep -v '_superseded' || true)\nif [ -n \"$STAGED_DOCS\" ]; then\n  echo \"üîó Checking links in $(echo \"$STAGED_DOCS\" | wc -l | tr -d ' ') doc fi
  ...

artifact-validation:
  run: "# Check if any core artifacts are staged\nSTAGED_CORE=$(git diff --cached --name-only --diff-filter=ACM | grep -E '(01-requirements|02-architecture-assessment|04-implementation-plan|04-governance-constraints|06-deployment-summary)\\.md$' || true)\nif [ -n \"$STAGED_CORE\" ]; then\n  echo \"üì
  ...

chore: update tracking and minor fixes
  Copilot-Processing.md
  agent-output/smb-landing-zone/07-ab-adr-0004-firewall-vpn-deployment-ordering.md
  infra/bicep/smb-landing-zone/deploy.ps1
Due: markdown-lint, artifact-validation

docs: Phase 1 - version fixes, broken links, CONTRIBUTING.md, partner quick reference
  .devcontainer/README.md
  .github/agents/requirements.agent.md
  .github/instructions/agents-definitions.instructions.md
  .github/instructions/markdown.instructions.md
  CONTRIBUTING.md
  Copilot-Processing.md
  README.md
  USAGE-PROMPT.md
  VERSION.md
  agent-output/README.md
  agent-output/azure-local-ha/03-des-diagram.png
  agent-output/azure-local-ha/03-des-diagram.py
  agent-output/smb-landing-zone/06-deployment-summary.md
  agent-output/smb-landing-zone/README.md
  docs/partner-quick-reference.md
  package.json
Due: markdown-lint, artifact-validation

docs: Phase 2 - Step 7 workload docs, architecture diagrams
  CONTRIBUTING.md
  README.md
  agent-output/smb-landing-zone/06-deployment-summary.md
  agent-output/smb-landing-zone/07-backup-dr-plan.md
  agent-output/smb-landing-zone/07-compliance-matrix.md
  agent-output/smb-landing-zone/07-design-document.md
  agent-output/smb-landing-zone/07-documentation-index.md
  agent-output/smb-landing-zone/07-operations-runbook.md
  agent-output/smb-landing-zone/07-resource-inventory.md
  docs/images/architecture-baseline.png
  docs/images/architecture-firewall.png
  docs/images/architecture-full.png
  docs/images/architecture-vpn.png
  docs/partner-quick-reference.md
Due: markdown-lint, artifact-validation

chore: add PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: markdown-lint

docs: Production-ready documentation update (v0.3.0)
  .devcontainer/README.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/agents/requirements.agent.md
  .github/instructions/agents-definitions.instructions.md
  .github/instructions/markdown.instructions.md
  CONTRIBUTING.md
  Copilot-Processing.md
  README.md
  USAGE-PROMPT.md
  VERSION.md
  agent-output/README.md
  agent-output/azure-local-ha/03-des-diagram.png
  agent-output/azure-local-ha/03-des-diagram.py
  agent-output/smb-landing-zone/06-deployment-summary.md
  agent-output/smb-landing-zone/07-backup-dr-plan.md
  agent-output/smb-landing-zone/07-compliance-matrix.md
  agent-output/smb-landing-zone/07-design-document.md
  agent-output/smb-landing-zone/07-documentation-index.md
  agent-output/smb-landing-zone/07-operations-runbook.md
  agent-output/smb-landing-zone/07-resource-inventory.md
  agent-output/smb-landing-zone/README.md
  docs/images/architecture-baseline.png
  docs/images/architecture-firewall.png
  docs/images/architecture-full.png
  docs/images/architecture-vpn.png
  docs/partner-quick-reference.md
  package.json
Due: markdown-lint, artifact-validation

docs: add v0.3.0 release notes
  .github/release-notes-v0.3.0.md
Due: markdown-lint

chore: remove USAGE-PROMPT.md
  USAGE-PROMPT.md
Due: markdown-lint

fix: update broken example links in markdown.instructions.md
  .github/instructions/markdown.instructions.md
Due: markdown-lint

feat: integrate azure-diagrams skill and update copilot instructions
  .github/agents/diagram.agent.md
  .github/copilot-instructions.md
  .github/skills/azure-diagrams/README.md
  .github/skills/azure-diagrams/SKILL.md
  .github/skills/azure-diagrams/references/azure-components.md
  .github/skills/azure-diagrams/references/business-process-flows.md
  .github/skills/azure-diagrams/references/common-patterns.md
  .github/skills/azure-diagrams/references/entity-relationship-diagrams.md
  .github/skills/azure-diagrams/references/iac-to-diagram.md
  .github/skills/azure-diagrams/references/integration-services.md
  .github/skills/azure-diagrams/references/migration-patterns.md
  .github/skills/azure-diagrams/references/preventing-overlaps.md
  .github/skills/azure-diagrams/references/quick-reference.md
  .github/skills/azure-diagrams/references/sequence-auth-flows.md
  .github/skills/azure-diagrams/references/timeline-gantt-diagrams.md
  .github/skills/azure-diagrams/references/ui-wireframe-diagrams.md
  .github/skills/azure-diagrams/scripts/ascii_to_diagram.py
  .github/skills/azure-diagrams/scripts/generate_diagram.py
  .github/skills/azure-diagrams/scripts/multi_diagram_generator.py
  .github/skills/azure-diagrams/scripts/verify_installation.py
Due: markdown-lint

docs: update IaC to diagram skill reference
  .github/skills/azure-diagrams/references/iac-to-diagram.md
Due: markdown-lint

Update GitHub badge in README.md
  README.md
Due: markdown-lint

feat: Add Key Vault, Defender, Automation, and 15 new policies
  infra/bicep/smb-ready-foundation/deploy.ps1
  infra/bicep/smb-ready-foundation/main.bicep
  infra/bicep/smb-ready-foundation/main.json
  infra/bicep/smb-ready-foundation/modules/automation.bicep
  infra/bicep/smb-ready-foundation/modules/automation.json
  infra/bicep/smb-ready-foundation/modules/defender.bicep
  infra/bicep/smb-ready-foundation/modules/defender.json
  infra/bicep/smb-ready-foundation/modules/keyvault.bicep
  infra/bicep/smb-ready-foundation/modules/keyvault.json
  infra/bicep/smb-ready-foundation/modules/networking-spoke.bicep
  infra/bicep/smb-ready-foundation/modules/policy-assignments.bicep
  infra/bicep/smb-ready-foundation/modules/resource-groups.bicep
  scripts/Remove-SmbReadyFoundation.ps1
Due: none

docs: Update all documentation for Key Vault, Defender, Automation changes
  agent-output/smb-ready-foundation/01-requirements.md
  agent-output/smb-ready-foundation/02-architecture-assessment.md
  agent-output/smb-ready-foundation/03-des-adr-0001-cost-optimized-landing-zone-architecture.md
  agent-output/smb-ready-foundation/03-des-cost-estimate.md
  agent-output/smb-ready-foundation/03-des-diagram-baseline.py
  agent-output/smb-ready-foundation/03-des-diagram-firewall.py
  agent-output/smb-ready-foundation/03-des-diagram-full.py
  agent-output/smb-ready-foundation/03-des-diagram-vpn.py
  agent-output/smb-ready-foundation/03-des-diagram.py
  agent-output/smb-ready-foundation/04-implementation-plan.md
  agent-output/smb-ready-foundation/05-implementation-reference.md
  agent-output/smb-ready-foundation/06-deployment-summary.md
  agent-output/smb-ready-foundation/07-ab-adr-0002-bicep-infrastructure-implementation.md
  agent-output/smb-ready-foundation/07-compliance-matrix.md
  agent-output/smb-ready-foundation/07-design-document.md
  agent-output/smb-ready-foundation/07-operations-runbook.md
  agent-output/smb-ready-foundation/07-resource-inventory.md
  docs/partner-quick-reference.md
  infra/bicep/smb-ready-foundation/deploy.ps1
Due: markdown-lint, artifact-validation

feat: Add intermediate management group smb-rf with MG-scoped policies
  infra/bicep/smb-ready-foundation/deploy-mg.bicep
  infra/bicep/smb-ready-foundation/deploy-mg.json
  infra/bicep/smb-ready-foundation/deploy-mg.ps1
  infra/bicep/smb-ready-foundation/deploy.ps1
  infra/bicep/smb-ready-foundation/main.bicep
  infra/bicep/smb-ready-foundation/main.json
  infra/bicep/smb-ready-foundation/modules/policy-assignments-mg.bicep
  scripts/Remove-SmbReadyFoundation.ps1
  scripts/Setup-ManagementGroupPermissions.ps1
Due: none

docs: Update all documentation for management group hierarchy
  README.md
  agent-output/smb-ready-foundation/01-requirements.md
  agent-output/smb-ready-foundation/02-architecture-assessment.md
  agent-output/smb-ready-foundation/03-des-diagram-baseline.py
  agent-output/smb-ready-foundation/03-des-diagram-firewall.py
  agent-output/smb-ready-foundation/03-des-diagram-full.py
  agent-output/smb-ready-foundation/03-des-diagram-vpn.py
  agent-output/smb-ready-foundation/03-des-diagram.py
  agent-output/smb-ready-foundation/04-governance-constraints.md
  agent-output/smb-ready-foundation/04-implementation-plan.md
  agent-output/smb-ready-foundation/05-implementation-reference.md
  agent-output/smb-ready-foundation/06-deployment-summary.md
  agent-output/smb-ready-foundation/07-design-document.md
  agent-output/smb-ready-foundation/07-operations-runbook.md
  agent-output/smb-ready-foundation/07-resource-inventory.md
  docs/partner-quick-reference.md
Due: markdown-lint, artifact-validation

feat: Add 5 drawio architecture diagrams with Azure icons
  README.md
  agent-output/smb-ready-foundation/01-requirements.md
  agent-output/smb-ready-foundation/03-des-diagram-baseline.drawio
  agent-output/smb-ready-foundation/03-des-diagram-firewall.drawio
  agent-output/smb-ready-foundation/03-des-diagram-full.drawio
  agent-output/smb-ready-foundation/03-des-diagram-mg-hierarchy.drawio
  agent-output/smb-ready-foundation/03-des-diagram-vpn.drawio
  agent-output/smb-ready-foundation/04-governance-constraints.md
  agent-output/smb-ready-foundation/05-implementation-reference.md
  agent-output/smb-ready-foundation/06-deployment-summary.md
  agent-output/smb-ready-foundation/07-operations-runbook.md
  agent-output/smb-ready-foundation/07-resource-inventory.md
Due: markdown-lint, artifact-validation

fix: azd deployment bugs + 4-scenario deployment test
  CONTRIBUTING.md
  README.md
  agent-output/smb-ready-foundation/04-implementation-plan.md
  agent-output/smb-ready-foundation/04-scenario-implementation-plans.md
  agent-output/smb-ready-foundation/05-implementation-reference.md
  agent-output/smb-ready-foundation/06-deployment-summary.md
  agent-output/smb-ready-foundation/07-ab-adr-0002-bicep-infrastructure-implementation.md
  agent-output/smb-ready-foundation/07-ab-adr-0003-avm-firewall-migration.md
  agent-output/smb-ready-foundation/07-ab-adr-0004-firewall-vpn-deployment-ordering.md
  agent-output/smb-ready-foundation/07-backup-dr-plan.md
  agent-output/smb-ready-foundation/07-documentation-index.md
  docs/partner-quick-reference.md
  infra/bicep/README.md
  infra/bicep/smb-ready-foundation/azure.yaml
  infra/bicep/smb-ready-foundation/deploy-mg.json
  infra/bicep/smb-ready-foundation/hooks/post-provision.ps1
  infra/bicep/smb-ready-foundation/hooks/pre-provision.ps1
  infra/bicep/smb-ready-foundation/main.bicep
  infra/bicep/smb-ready-foundation/main.bicepparam.reference
  infra/bicep/smb-ready-foundation/main.json
  infra/bicep/smb-ready-foundation/main.parameters.json
  infra/bicep/smb-ready-foundation/modules/automation.bicep
  infra/bicep/smb-ready-foundation/modules/budget.bicep
  infra/bicep/smb-ready-foundation/modules/firewall.bicep
  infra/bicep/smb-ready-foundation/modules/keyvault.bicep
  infra/bicep/smb-ready-foundation/modules/networking-hub.bicep
  infra/bicep/smb-ready-foundation/modules/networking-spoke.bicep
  infra/bicep/smb-ready-foundation/modules/policy-assignments-mg.bicep
  infra/bicep/smb-ready-foundation/modules/policy-assignments.bicep
  infra/bicep/smb-ready-foundation/scripts/Remove-SmbReadyFoundation.ps1
  infra/bicep/smb-ready-foundation/scripts/legacy/README.md
  infra/bicep/smb-ready-foundation/scripts/legacy/deploy-mg.ps1
  infra/bicep/smb-ready-foundation/scripts/legacy/deploy.ps1
  scripts/test-scenarios.sh
Due: markdown-lint, artifact-validation

docs: add Starlight documentation site + rewrite README
  .github/skills/iac-common/SKILL.md
  README.md
  docs/partner-quick-reference.md
  scripts/test-scenarios.sh
  site/astro.config.mjs
  site/package-lock.json
  site/package.json
  site/src/content.config.ts
  site/src/content/docs/cicd/overview.mdx
  site/src/content/docs/deploying/configuration.mdx
  site/src/content/docs/deploying/management-group.mdx
  site/src/content/docs/deploying/scenarios.mdx
  site/src/content/docs/getting-started/prerequisites.mdx
  site/src/content/docs/getting-started/quick-start.mdx
  site/src/content/docs/index.mdx
  site/src/content/docs/operating/customization.mdx
  site/src/content/docs/operating/teardown.mdx
  site/src/content/docs/operating/troubleshooting.mdx
  site/src/content/docs/project/changelog.mdx
  site/src/content/docs/project/contributing.mdx
  site/src/content/docs/reference/architecture.mdx
  site/src/content/docs/reference/costs.mdx
  site/src/content/docs/reference/faq.mdx
  site/src/content/docs/reference/policies.mdx
  site/src/content/docs/reference/resources.mdx
  site/src/styles/custom.css
  site/tsconfig.json
Due: markdown-lint

fix: update markdown formatting and improve readability in implementation documents and README
  agent-output/smb-ready-foundation/04-implementation-plan-terraform.md
  agent-output/smb-ready-foundation/05-implementation-reference-terraform.md
  agent-output/smb-ready-foundation/07-ab-adr-0005-terraform-dual-track.md
  agent-output/smb-ready-foundation/07-ab-adr-0006-terraform-single-root-composition.md
  agent-output/smb-ready-foundation/07-resource-inventory-terraform.md
  infra/terraform/smb-ready-foundation/README.md
Due: markdown-lint, artifact-validation

fix: update Terraform configuration paths and enable VPN deployment
  infra/terraform/smb-ready-foundation/provider.conf.json
  infra/terraform/smb-ready-foundation/terraform.auto.tfvars.json
  scripts/test-scenarios-tf.sh
  site/src/content/docs/operating/customization.mdx
Due: none

fix(site): fix broken table, policy count 33→34, partner language, VPN SKU
  site/src/content/docs/deploying/configuration.mdx
  site/src/content/docs/deploying/management-group.mdx
  site/src/content/docs/deploying/scenarios.mdx
  site/src/content/docs/deploying/terraform-track.mdx
  site/src/content/docs/getting-started/partner-onboarding.mdx
  site/src/content/docs/getting-started/quick-start.mdx
  site/src/content/docs/operating/teardown.mdx
  site/src/content/docs/reference/faq.mdx
  site/src/content/docs/reference/partner-quick-reference.mdx
  site/src/content/docs/reference/terraform-modules.mdx
Due: none

fix(site): Remove hardcoded policy counts from prose per no-hardcoded-counts rule
  site/astro.config.mjs
  site/src/content/docs/deploying/configuration.mdx
  site/src/content/docs/deploying/management-group.mdx
  site/src/content/docs/deploying/scenarios.mdx
  site/src/content/docs/deploying/walkthrough.mdx
  site/src/content/docs/getting-started/partner-onboarding.mdx
  site/src/content/docs/getting-started/quick-start.mdx
  site/src/content/docs/getting-started/what-is-smb-rf.mdx
  site/src/content/docs/index.mdx
  site/src/content/docs/operating/compliance-matrix.mdx
  site/src/content/docs/operating/runbook.mdx
  site/src/content/docs/operating/teardown.mdx
  site/src/content/docs/reference/adr/adr-0001.mdx
  site/src/content/docs/reference/adr/adr-0002.mdx
  site/src/content/docs/reference/architecture.mdx
  site/src/content/docs/reference/faq.mdx
  site/src/content/docs/reference/partner-quick-reference.mdx
  site/src/content/docs/reference/policies.mdx
  site/src/content/docs/reference/resources.mdx
Due: none

feat(site): UI/UX refresh — landing redesign, design tokens, sidebar IA
  site/astro.config.mjs
  site/src/components/MetricTile.astro
  site/src/components/PersonaCard.astro
  site/src/components/ScenarioCard.astro
  site/src/components/ThemedImage.astro
  site/src/content/docs/404.mdx
  site/src/content/docs/deploying/walkthrough.mdx
  site/src/content/docs/index.mdx
  site/src/content/docs/reference/architecture.mdx
  site/src/content/docs/reference/resources.mdx
  site/src/styles/custom.css
  site/src/styles/tokens.css
Due: none

style: format CSS for improved readability and consistency
  site/src/styles/custom.css
  site/src/styles/tokens.css
Due: none

docs: polish docs site chrome
  site/src/components/ScenarioCard.astro
  site/src/content/docs/index.mdx
  site/src/styles/custom.css
Due: none

feat: update logo and image references in README and config
  README.md
  infra/bicep/smb-ready-foundation/main.json
  site/astro.config.mjs
  site/public/images/Azure-SMB-RF.png
Due: markdown-lint

docs: update CONTRIBUTORS.md to reflect current contributors and project version
  CONTRIBUTORS.md
Due: markdown-lint

fix: deployment retry path + bicep build hygiene + test scenarios (#2)
  .devcontainer/devcontainer-lock.json
  .gitignore
  infra/bicep/smb-ready-foundation/deploy-mg.json
  infra/bicep/smb-ready-foundation/hooks/post-provision.ps1
  infra/bicep/smb-ready-foundation/main.bicepparam
  infra/bicep/smb-ready-foundation/main.json
  infra/bicep/smb-ready-foundation/main.parameters.json
  infra/bicep/smb-ready-foundation/modules/automation.json
  infra/bicep/smb-ready-foundation/modules/backup.json
  infra/bicep/smb-ready-foundation/modules/budget.json
  infra/bicep/smb-ready-foundation/modules/defender.json
  infra/bicep/smb-ready-foundation/modules/firewall.json
  infra/bicep/smb-ready-foundation/modules/keyvault.json
  infra/bicep/smb-ready-foundation/modules/migrate.json
  infra/bicep/smb-ready-foundation/modules/monitoring.json
  infra/bicep/smb-ready-foundation/modules/networking-hub.json
  infra/bicep/smb-ready-foundation/modules/networking-peering-spoke.json
  infra/bicep/smb-ready-foundation/modules/networking-peering.json
  infra/bicep/smb-ready-foundation/modules/networking-spoke.json
  infra/bicep/smb-ready-foundation/modules/policy-assignments-mg-initiative.json
  infra/bicep/smb-ready-foundation/modules/policy-assignments.json
  infra/bicep/smb-ready-foundation/modules/policy-backup-auto.json
  infra/bicep/smb-ready-foundation/modules/resource-groups.json
  infra/bicep/smb-ready-foundation/modules/route-tables.json
  infra/bicep/smb-ready-foundation/modules/vpn-gateway.json
  scripts/test-scenarios.sh
Due: none

fix: enhance management console with nginx configuration and entrypoint script
  .gitignore
  management-console/azure.yaml
  management-console/hooks/web-prepackage.ps1
  management-console/management-console.sln
  management-console/web/Dockerfile
  management-console/web/docker-entrypoint.sh
  management-console/web/nginx.conf.template
Due: none

feat: changelog entry
  CHANGELOG.md
Due: markdown-lint

Add files via upload
  infra/bicep/smb-ready-foundation/deploy-mg.json
Due: none

Path conditions:
  markdown-lint: any of: *.md
  link-check: any of: docs/**/*.md
  artifact-validation: any of: agent-output/**/*.md
